node_modules
dist
out
.DS_Store
.eslintcache
*.log*

/src/generated/prisma
/debug
venv/
/src/main/models
/prisma/dev.db 
/prisma/dev.db-journal
/scripts/node_modules
/wiki
/dev_only
.env
/train/generated_threads.json
*.tsbuildinfo