node_modules
dist
out
.DS_Store
.eslintcache
*.log*

/src/generated/prisma
/debug
venv/
/src/main/models
/prisma/*.db
/prisma/*.db-journal
/prisma/*.db-shm
/prisma/*.db-wal
/scripts/node_modules
/wiki
/dev_only
.env
/train/generated_threads.json
*.tsbuildinfo